@font-face {
    font-family: "Jacquard 12";
    src: 
        url(resources/fonts/Jacquard12-Regular.woff) format("woff"),
        url(resources/fonts/Jacquard12-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "Press Start 2P";
    src: 
        url(resources/fonts/PressStart2P-Regular.woff) format("woff"),
        url(resources/fonts/PressStart2P-Regular.woff2) format("woff2");
}

* {
    padding: 0;
}

*::before, *::after {
    box-sizing: border-box;
}

body {
    --deep-green: #195700;
    --orange: #FFAA52;
    --cream: #F8D490;
    --off-white: #FFF5E1;
    --maroon: #571319;
    --red-gradient: linear-gradient(#8a121c, #BD2936);
    
    font-family: "Press Start 2P", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, monospace;
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

img, video {
    max-width: 100%;
}

button {
    font-family: inherit;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--cream);
    margin: 0;
    line-height: 1.5;
}

p {
    color: var(--off-white);
    line-height: 2;
}

header, footer {
    background-color: var(--deep-green);
    position: relative;
    z-index: 2; /* Layer on top of the box-shadow in the content container */
}

header {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1.4rem 4rem black;
}

.logo {
    font-family: "Jacquard 12";
    font-size: 3rem;
    color: var(--orange);
}

nav button {
    background-color: transparent;
    color: var(--cream);
    font-size: 0.8rem;
}

nav button:hover, .on-page {
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
}

.background {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.background {
    z-index: -2;
}

.half-full {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 3rem 5rem;
    padding-right: 1.4rem; /* Compensate for the added shadow */
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 0;
    box-shadow: 2rem 0 2rem rgba(0, 0, 0, 0.5);
}

/* Home */

h2.home {
    font-size: 1.6rem;
    margin: 2rem 0;
}

p.home {
    font-size: 1.1rem;
    margin-bottom: 3rem;
}

.view-menu {
    background-color: var(--cream);
    color: var(--maroon);
    border-radius: 5px;
    padding: 1em 1.2em;
}

.view-menu:hover {
    background-color: var(--maroon);
    color: var(--cream);
}

img.portrait {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 30%;
    height: auto;
}

/* Menu */
h2.menu {
    font-size: 1.2rem;
    background-color: var(--deep-green);
    margin: 1.2rem auto;
    padding: 1rem;
    width: max-content;
    border-radius: 5px;
    position: relative;
}

h2.menu::before, h2.menu::after {
    content: " ~ "
}

table {
    color: var(--off-white);
    margin: auto;
    background-image: var(--red-gradient);
    border-radius: 5px;
    padding: 1.2rem 2rem;
    width: 60%;
    min-width: 400px;
    border-top: solid var(--deep-green) 15px;
}

th, td {
    padding: 0.4rem;
}

tr + tr.category > th {
    padding-top: 1.2rem;
}

th {
    font-size: 1rem;
}

th::before, th::after {
    content: " * ";
}

td {
    font-size: 0.8rem;
}

tr > td:first-child {
    width: 15%;
}

td.price {
    text-align: right;
    margin: 0.2rem;
}

td.price > p {
    margin: 0;
}

td.price > p::before {
    content: url(resources/img/icons/27px-Gold.png);
    margin-right: 0.2rem;
}

/* About */

h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

h3:first-of-type {
    margin-top: 3rem;
}

h3:last-of-type {
    margin-top: 7rem;
}

p + h3 {
    margin-top: 3rem;
}

p.about {
    font-size: 1rem;
}

.employee {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.employee img {
    /* align-self: center; */
    width: 7%;
}

img.big {
    width: 45%;
    right: 0%;
}

footer {
    color: var(--cream);
    padding: 0.6rem;
    font-size: 0.6rem;
    text-align: center;
}




